{
  "service_key_path": "path_to_key",
  "folder_id": "your_folder_id",
  "image_id": "base_image_id",
  "ruby_script_path": "path_to_install_ruby.sh",
  "mongo_script_path": "path_to_install_mongodb.sh",
  "puma_service_path": "path_to_puma_service"
}
